body {
    /* change color below! */
    background: red;
    font-family: Georgia, Arial, Helvetica;
}

.container {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h2 {
  background-color: blue;
}
ul {
  border: 2px solid black;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: blue;
}
li {
  background-color: yellow;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
}
img {
   max-width: 100px; 
}
.title {
  border: 2px solid black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: blue;
}